<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VitaminSHE</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
       
<style>
    .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-block: 50px;
    }


    .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 105px;
    }


</style>


    
    <body style="background-color: mistyrose;">
       

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="../home" class="navbar-brand"><img src="logo.png"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="../" class="nav-item nav-link">Home</a>
                        <a href="../healthcheck" class="nav-item nav-link">Health Check</a>
                        <a href="../food" class="nav-item nav-link">Food</a>
                        <a href="../book" class="nav-item nav-link">Book an Appointment</a>
                        <a href="../why" class="nav-item nav-link">Why?</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


<div class="column">


<div class="row">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Vitamin A</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="../VitaminA" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Vitamin E</h5>
            <p class="card-text">is an antioxidant also known as tocopherol. It helps the body form red blood cells and use vitamin K.</p>
            <a href="../VitaminE" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Vitamin C</h5>
            <p class="card-text">also called ascorbic acid, is an antioxidant that promotes healthy teeth and gums. It helps the body absorb iron and maintain healthy tissue.
        It is also essential for wound healing.</p>
            <a href="../VitaminC" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin D</h5>
        <p class="card-text">is involved in calcium absorption, immune function, and protecting bone, muscle, and heart health. It occurs naturally in food and can also be produced by your body when your skin is exposed to sunlight.</p>
        <a href="../VitaminD" class="btn btn-primary">Check Sources</a>
      </div>
</div>


<div class="row">
    
    </div>
     <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin B12</h5>
        <p class="card-text">like the other B vitamins, is important for metabolism. It also helps form red blood cells and maintain the central nervous system.</p>
        <a href="../VItaminB12" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
     <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin B6</h5>
        <p class="card-text">is also called pyridoxine. Vitamin B6 helps form red blood cells and maintain brain function. This vitamin also plays an important role in the proteins that are part of many chemical reactions in the body. The more protein you eat the more pyridoxine your body requires.</p>
        <a href="../Vitamin B6" class="btn btn-primary">Check Sources</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Vitmain K</h5>
            <p class="card-text">is needed because without it, blood would not stick together (coagulate). Some studies suggest that it is important for bone health.</p>
            <a href="../VitaminK" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
    </div>


    <div class="row">
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Calcium</h5>
            <p class="card-text">important for healthy bones and teeth; helps muscles relax and contract; important in nerve functioning, blood clotting, blood pressure regulation, immune system health
</p>
            <a href="../Calcium" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Iron</h5>
            <p class="card-text">Part of a molecule (hemoglobin) found in red blood cells that carries oxygen in the body; needed for energy metabolism</p>
            <a href="../Iron" class="btn btn-primary">Check Sources</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Magnesium</h5>
            <p class="card-text">Magnesium is required for the proper growth and maintenance of bones. Magnesium is also required for the proper function of nerves, muscles, and many other parts of the body. In the stomach, magnesium helps neutralize stomach acid and moves stools through the intestine.
</p>
            <a href="../Magnesium" class="btn btn-primary">Check Sources</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Phosphorus</h5>
            <p class="card-text">The body uses phosphorus to keep the bones strong and healthy. Phosphorus also helps remove waste and repair damaged tissues. 
Sodium: It plays a vital role in nerve and muscle function and helps your body maintain normal fluid balance
</p>
            <a href="../Phosphorus" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
        </div>       
</div>


<div class="row">
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Potassium</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="../potassium" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Zinc</h5>
            <p class="card-text">Part of many enzymes; needed for making protein and genetic material; has a function in taste perception, wound healing, normal fetal development, production of sperm, normal growth and sexual maturation, immune system health
</p>
            <a href="../Zinc" class="btn btn-primary">Check Sources</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Copper </h5>
            <p class="card-text">Part of many enzymes; needed for iron metabolism</p>
            <a href="../copper" class="btn btn-primary">Check Sources</a>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Magnesium</h5>
            <p class="card-text">Manganese contributes to many bodily functions, including the metabolism of amino acids, cholesterol, glucose, and carbohydrates. It also plays a role in bone formation, blood clotting, and reducing inflammation.</p>
            <a href="../Magnesium" class="btn btn-primary">Check Sources</a>
          </div>
        </div>
        </div>       
</div>


<div class="row">
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Selenium</h5>
            <p class="card-text">Selenium plays an important role in the health of your immune system.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>       
</div>


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <a href="index.html" class="footer-logo">Y<span>oo</span>ga</a>
                        <h3>123 Street, New York, USA</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>info@example.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="../static/mail/jqBootstrapValidation.min.js"></script>
        <script src="../static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="../static/js/main.js"></script>
    </body>
</html>
