<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VitaminSHE</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="../static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
       
<style>
    .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-block: 50px;
    }


    .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 105px;
    }


</style>


    
    <body style="background-color: mistyrose;">
       

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="../home" class="navbar-brand"><img src="logo.png"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="../" class="nav-item nav-link">Home</a>
                        <a href="../healthcheck" class="nav-item nav-link">Health Check</a>
                        <a href="../food" class="nav-item nav-link">Food</a>
                        <a href="../book" class="nav-item nav-link">Book an Appointment</a>
                        <a href="../why" class="nav-item nav-link">Why?</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


<div class="column">


<div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin A</h5>
        <p class="card-text">Supports vision and immunity.<br><b>Foods:</b> Carrots, sweet potatoes, spinach, eggs.</p>
        <a href="../VitaminA" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin E</h5>
        <p class="card-text">Antioxidant for cell health.<br><b>Foods:</b> Almonds, sunflower seeds, spinach, avocado.</p>
        <a href="../VitaminE" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin C</h5>
        <p class="card-text">Boosts immunity and skin health.<br><b>Foods:</b> Oranges, strawberries, bell peppers, broccoli.</p>
        <a href="../VitaminC" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin D</h5>
        <p class="card-text">Supports bones and immunity.<br><b>Foods:</b> Salmon, egg yolks, fortified milk, mushrooms.</p>
        <a href="../VitaminD" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin B12</h5>
        <p class="card-text">Supports nerves and blood cells.<br><b>Foods:</b> Fish, meat, dairy, eggs.</p>
        <a href="../VItaminB12" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin B6</h5>
        <p class="card-text">Helps metabolism and brain.<br><b>Foods:</b> Chickpeas, bananas, potatoes, chicken.</p>
        <a href="../Vitamin B6" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Vitamin K</h5>
        <p class="card-text">Needed for blood clotting.<br><b>Foods:</b> Kale, broccoli, spinach, cabbage.</p>
        <a href="../VitaminK" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Calcium</h5>
        <p class="card-text">For bones and teeth.<br><b>Foods:</b> Milk, yogurt, cheese, tofu, sardines.</p>
        <a href="../Calcium" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Iron</h5>
        <p class="card-text">Carries oxygen in blood.<br><b>Foods:</b> Red meat, lentils, spinach, pumpkin seeds.</p>
        <a href="../Iron" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Magnesium</h5>
        <p class="card-text">Supports muscles and nerves.<br><b>Foods:</b> Nuts, whole grains, spinach, dark chocolate.</p>
        <a href="../Magnesium" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Phosphorus</h5>
        <p class="card-text">For bones and energy.<br><b>Foods:</b> Meat, dairy, beans, nuts.</p>
        <a href="../Phosphorus" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Potassium</h5>
        <p class="card-text">Regulates fluid balance.<br><b>Foods:</b> Bananas, potatoes, beans, yogurt.</p>
        <a href="../potassium" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Zinc</h5>
        <p class="card-text">For immunity and healing.<br><b>Foods:</b> Oysters, beef, chickpeas, cashews.</p>
        <a href="../Zinc" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Copper</h5>
        <p class="card-text">Needed for iron metabolism.<br><b>Foods:</b> Shellfish, nuts, seeds, whole grains.</p>
        <a href="../copper" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Manganese</h5>
        <p class="card-text">Supports metabolism.<br><b>Foods:</b> Pineapple, pecans, oats, brown rice.</p>
        <a href="../Magnesium" class="btn btn-primary">Check Sources</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Selenium</h5>
        <p class="card-text">Boosts immune system.<br><b>Foods:</b> Brazil nuts, tuna, eggs, sunflower seeds.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
<!-- ...existing code... -->
        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <a href="index.html" class="footer-logo">Y<span>oo</span>ga</a>
                        <h3>123 Street, New York, USA</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>info@example.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../static/lib/easing/easing.min.js"></script>
        <script src="../static/lib/wow/wow.min.js"></script>
        <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="../static/mail/jqBootstrapValidation.min.js"></script>
        <script src="../static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="../static/js/main.js"></script>
    </body>
</html>
